.nav.side-menu>li>a {
	text-shadow: rgba(0,0,0,.25) 0 -1px 0;
	background: linear-gradient(#334556,#2C4257),#2A3F54;
	box-shadow: rgba(0,0,0,.25) 0 1px 0, inset rgba(255,255,255,.16) 0 1px 0;
}
.nav.side-menu>li.active>a {
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	background: #73879C;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
.nomrgbtn{
	margin-bottom: 0px;
}

.floatright{
	float: right;
}
.redBorder{
	border:1px solid red;
}
.table thead th{
	text-align: center;
	font-size: 18px;
}
.table td{
	font-size: 16px;
}
.alert {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
button, .buttons, .btn, .modal-footer .btn+.btn {
	margin-bottom: 0px;
	margin-right: 5px; 
}
.alert-dismissable .close, .alert-dismissible .close {
	position: relative;
	top: 0px;
	right: -10px;
	color: white;
	opacity: 1;
}
.alert i {
	font-size: 20px;
}

#global {
	width: 70px;
	margin: auto;
	margin-top: 50px;
	position: relative;
	cursor: pointer;
	height: 60px;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	top: 50%;
	margin-top: -30px;
}

#global .mask{
	position:absolute;
	border-radius:2px;
	overflow:hidden;
	perspective: 1000;
	backface-visibility: hidden;
}

#global .plane{
	background:#2e6da4;
	width:400%;
	height:100%;
	position:absolute;
	transform : translate3d(0px,0,0);
	/*transition: all 0.8s ease; */
	z-index:100;
	perspective: 1000;
	backface-visibility: hidden;
	
}

#global .animation{
	transition: all 0.3s ease;
}



#global #top .plane{
	z-index:2000;
	animation : trans1 1.3s ease-in infinite  0s backwards;
}
#global #middle .plane{
	transform : translate3d(0px,0,0);  
	background : #bbbbbb;
	animation : trans2 1.3s linear infinite  0.3s  backwards;

}
#global #bottom .plane{
	z-index:2000;
	animation : trans3 1.3s ease-out infinite  0.7s backwards;
}



#global #top{
	width:53px;
	height:20px;
	left:20px;
	transform: skew(-15deg, 0);
	z-index:100;
}

#global #middle{
	width:33px;
	height:20px;
	left:20px;
	top:15px;
	
	transform: skew(-15deg, 40deg)
}
#global #bottom{
	width:53px;
	height:20px;
	top:30px;  
	transform: skew(-15deg, 0)
}
@keyframes trans1{ 
	from { 
		transform : translate3d(53px,0,0)
	}
	to { 
		transform : translate3d(-250px,0,0)
	}
}

@keyframes trans2{ 
	from { 
		transform : translate3d(-160px,0,0)
	}
	to { 
		transform : translate3d(53px,0,0)
	}
}

@keyframes trans3{ 
	from { 
		transform : translate3d(53px,0,0)
	}
	to { 
		transform : translate3d(-220px,0,0)
	}
}

@keyframes animColor{ 
	from { 
		background : red;
	}
	25%{
		background : yellow;
	}
	50%{
		background : green;
	}
	75%{
		background : brown;
	}
	to { 
		background : blue;
	}
}
#global p{
	color:#fff;
	position:absolute;
	left: -3px;
	top:55px;
	font-family:Arial;
	text-align:center;
	font-size:10px;
}

.block-ui-visible>.block-ui-container{
	background-color: black;
	opacity: 0.7;
}
.redcolor{
	color: #d9534f !important;
}
.toothnotetitle {
	background-color: #2a3f54;
	color: white;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 1px;
}
.toothnotetxt{
	width: 100%;
}
.redfill{
	fill: red !important;
}
.colsenote{
	float: right;
	cursor: pointer;
}
.dropzone {
	min-height: 300px;
	border: 1px solid #e5e5e5;
}
.imagescontainer{
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 139px;
	overflow: hidden;
	text-align: center;
}
.imagescontainer img{
	max-width: 100%;
	vertical-align: middle;
	max-height: 100%;
}
.background-white{
	background-color: white;
}
.background-white-padding{
	background-color: white;
	padding-top: 15px;
	padding-bottom: 20px;
}
ul#myTab li{
	cursor: pointer;
}
textarea {
	resize: none;
}
.colorop{
	width: 80%;
	height: 34px;
}
.colorwall{
	width: 100% !important;
	height: 30px !important;
}

/* tooth css */
.tooth-set {
	margin: 15px auto;
	width: 250px;
}

.tooth-links, .tooth-links2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
}
.tooth-links li, .tooth-links2 li {
	display: inline-block;
	margin-right: 5px;
	height: 55px;
	width: 55px;
	padding-top: 5px;
}
.tooth a {
	/*position: absolute;*/
	/*bottom: 0px;*/
	display: block;
	width: 45px;
	height: 45px;
	background: url(/go.php?u=SHLeFw5pPAMtckLNox4tzRZ8VifNVdgc5YRjTpHmTMTaBi1h1QSfNRA%2BrWMZNn2NetU%3D&b=5) top center no-repeat;
	text-align: center;
	padding: 5px 10px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.tooth a:hover {
	/*bottom: 3px;*/
	text-decoration: none;
}

.tootho {
	position: absolute;
}
.tootho a {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	background: none;
	color: #000000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.tootho a:hover {
	color: #666666;
	text-decoration: none;
}
.tootho a.active {
	background: #8dc03f;
	color: #ffffff;
}
.tooth-set #tooth0 {
	width: auto;
	height: auto;
	left: 100px;
	top: 207px;
	padding: 3px 10px;
	background: #aaaaaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.tooth-set #tooth0.active {
	background: #8dc03f;
}
.tooth-set #tooth1 {
	left: 25px;
	top: 179px;
}
.tooth-set #tooth2 {
	left: 30px;
	top: 147px;
}
.tooth-set #tooth3 {
	left: 33px;
	top: 112px;
}
.tooth-set #tooth4 {
	left: 40px;
	top: 83px;
}
.tooth-set #tooth5 {
	left: 45px;
	top: 58px;
}
.tooth-set #tooth6 {
	left: 55px;
	top: 35px;
}
.tooth-set #tooth7 {
	left: 73px;
	top: 21px;
}
.tooth-set #tooth8 {
	left: 100px;
	top: 16px;
}
.tooth-set #tooth9 {
	left: 130px;
	top: 16px;
}
.tooth-set #tooth10 {
	left: 158px;
	top: 21px;
}
.tooth-set #tooth11 {
	left: 177px;
	top: 36px;
}
.tooth-set #tooth12 {
	left: 188px;
	top: 58px;
}
.tooth-set #tooth13 {
	left: 194px;
	top: 82px;
}
.tooth-set #tooth14 {
	left: 200px;
	top: 113px;
}
.tooth-set #tooth15 {
	left: 205px;
	top: 147px;
}
.tooth-set #tooth16 {
	left: 208px;
	top: 177px;
}
.tooth-set #tooth17 {
	left: 202px;
	top: 245px;
}
.tooth-set #tooth18 {
	left: 197px;
	top: 277px;
}
.tooth-set #tooth19 {
	left: 191px;
	top: 312px;
}
.tooth-set #tooth20 {
	left: 184px;
	top: 342px;
}
.tooth-set #tooth21 {
	left: 178px;
	top: 367px;
}
.tooth-set #tooth22 {
	left: 165px;
	top: 385px;
}
.tooth-set #tooth23 {
	left: 146px;
	top: 395px;
}
.tooth-set #tooth24 {
	left: 126px;
	top: 398px;
}
.tooth-set #tooth25 {
	left: 104px;
	top: 398px;
}
.tooth-set #tooth26 {
	left: 83px;
	top: 395px;
}
.tooth-set #tooth27 {
	left: 65px;
	top: 386px;
}
.tooth-set #tooth28 {
	left: 51px;
	top: 368px;
}
.tooth-set #tooth29 {
	left: 47px;
	top: 343px;
}
.tooth-set #tooth30 {
	left: 38px;
	top: 314px;
}
.tooth-set #tooth31 {
	left: 31px;
	top: 278px;
}
.tooth-set #tooth32 {
	left: 27px;
	top: 245px;
}
.notetext{
	background-color: red;
	padding: 10px;
	margin: 5px 10px;
	color: white;
	border-radius: 5px;
}
.boxnote{
	margin-top: 25px;
	overflow-y: auto;
	max-height: 410px;
	overflow-x: hidden;
	padding: 5px;
	-webkit-box-shadow: 0px 19px 69px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 19px 69px -12px rgba(0,0,0,0.75);
	box-shadow: 0px 19px 69px -12px rgba(0,0,0,0.75);
	/*-webkit-box-shadow: -19px 16px 23px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: -19px 16px 23px -18px rgba(0,0,0,0.75);
	box-shadow: -19px 16px 23px -18px rgba(0,0,0,0.75);*/
}
.pricing .title {
	background: #1ABB9C;
	height: auto; 
	color: #fff;
	padding: 10px 0 10px;
	text-align: center;
}
.opeWrp{
	margin-bottom: 15px;
}
.pricing_features {
	border-bottom: 1px solid #ccc;
}
input[readonly]{
	text-align: center;
	border: none;
}
.timeline .tags {
    position: absolute;
    top: 5px;
    left: 0;
    width: 84px;
}